{% load static %}
<link rel="icon" href="{% static 'favicon/favicon.ico' %}" sizes="any">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
<script>
(function () {
  document.documentElement.setAttribute("data-theme", "light");
  try {
    localStorage.setItem("jcc-theme", "light");
  } catch (e) {}
})();
</script>
